<!doctype html>
<html>
    <head>
        
    </head>

    <body bgcolor="#fcf4dc" style="margin: 0; background-color: #fcf4dc; padding: 0;">
        <div id="thresholder-container" style="margin: 0; background-color: #fcf4dc; padding: 1.5em; font-family: Helvetica, Arial, sans-serif; color: #465a61;">
            <div id="thresholder-content" style="margin-bottom: 0; margin-top: 0; background-color: #fff; border-color: #e9e2cb; padding: 1.5em; border-style: solid; border-width: 0 3px 3px 0;">
                <h1 style="font-size: 2em; margin: 0 0 0.5em;">Hi!</h1>

                <p>I saw this link {{count}} times on your Twitter timeline,
                starting {{start_date}}. I hope it's a good one!</p>

                <p id="thresholder-url" style="margin: 1em -1.5em; background-color: #2075c7;"><a href="{{url}}" style="margin-bottom: 0; font-size: 1.5em; padding: 0.75em 1em; margin-top: 0; text-decoration: none; color: #fff; display: block;">{{display_url}}</a></p>

                <p>It was shared by</p>
                <table id="thresholder-sources" cellpadding="0" cellspacing="0">
                    {{#sources}}
                        <tr style="margin-bottom: 0; margin-top: 0;">
                            <td align="left" valign="middle" style="margin-top: 0; border-bottom-width: 1px; border-bottom-style: none; padding: 0.5em 1em; border-bottom-color: #eee; text-align: left; vertical-align: middle;"><a href="{{url}}" style="margin-bottom: 0; margin-top: 0; text-decoration: none; color: #2075c7;">{{name}}</a></td>
                            <td align="left" valign="middle" style="margin-bottom: 0; font-size: 0.8em; padding: 0.5em 1em; color: #999; border-bottom-style: none; border-bottom-width: 1px; border-bottom-color: #eee; vertical-align: middle; text-align: left;">{{timestamp}}</td>
                        </tr>
                    {{/sources}}
                </table>

                <p>Have fun,</p>
                <p id="thresholder-signature" style="margin-bottom: 0; font-weight: bold; font-size: 1.5em; margin-top: 2em; color: #bd3612;">Thresholderbot</p>
            </div>
        </div>
    
<style type="text/css">
body { background-color: #fcf4dc !important; margin: 0 !important; padding: 0 !important; }
a:hover { color: #259185 !important; }
</style>
</body>
</html>

