<!doctype html>
<html>
    <head>
        <style type="text/css">
          body {
                background-color: #fcf4dc;
                margin: 0;
                padding: 0;
            }
            #thresholder-container {
                color: #465a61;
                background-color: #fcf4dc;
                padding: 1.5em 0;
                font-family: Helvetica, Arial, sans-serif;
            }

            #thresholder-content {
                background-color: #fff;
                border: 3px solid #e9e2cb;
                border-left-width: 0;
                border-right-width: 0;
            }

            h1 {
                font-size: 2em;
                margin: 0.75em;
                margin-top: 0;
                padding-top: 0.75em;
            }

            #thresholder-content p {
                padding-left: 1.5em;
                padding-right: 1.5em;
            }

            a {
                color: #2075c7;
                text-decoration: none;
            }

            #thresholder-title, #thresholder-url {
                padding: 0 !important;
            }
            #thresholder-title a, #thresholder-url a {
                display: block;
            }
            #thresholder-title {
                margin-bottom: 0;
            }
            #thresholder-url {
                margin-top: 0;
            }
            #thresholder-title a {
                background-color: #2075c7;
                display: block;
                font-size: 1.5em;
                padding: 0.75em 1em;
                color: #fcf4dc;
                margin: 0;
                border-top: 1px solid #205d99;
                border-bottom: 2px solid #205d99;
            }
            #thresholder-url a {
                border-top: 1px solid #ccbe91;
                border-bottom: 1px solid #ccbe91;
                background-color: #e9e2cb;
                color: #ab985b;
                display: block;
                padding: 0.5em 1.5em;
            }
            #thresholder-url a span {
                color: #2075c7;
                margin-right: 0.5em;
            }

            #thresholder-sources {
                margin: auto 1.5em;
            }
            #thresholder-sources td {
                text-align: left;
                vertical-align: middle;
                padding: 0.5em 1em;
                border-bottom: 1px solid #eee;
            }
            #thresholder-sources td:last-child {
                color: #999;
                font-size: 0.8em;
            }
            #thresholder-sources tr.last td {
                border-bottom: none;
            }

            #thresholder-signature {
                font-size: 1.5em;
                padding-left: 1em !important;
                padding-bottom: 1em !important;
                margin-top: 2em;
                margin-bottom: 0 !important;
                font-weight: bold;
                color: #bd3612;
            }
        </style>
    </head>

    <body>
        <div id="thresholder-container">
            <div id="thresholder-content">
                <h1>Hi!</h1>

                <p>I saw this link {{count}} times on your Twitter timeline,
                starting {{start_date}}. I hope it's a good one!</p>

                <p id="thresholder-title"><a href="{{url}}">{{{title}}}</a></p>
                <p id="thresholder-url"><a href="{{url}}" class="long-url"><span>&#8620;</span> {{url}}</a></p>

                <p>It was shared by</p>
                <table id="thresholder-sources" cellpadding="0" cellspacing="0">
                    {{#sources}}
                        <tr{{#last}} class="last"{{/last}}>
                            <td><a href="{{url}}">{{name}}</a></td>
                            <td>{{timestamp}}</td>
                        </tr>
                    {{/sources}}
                </table>

                <p>Have fun,</p>
                <p id="thresholder-signature">Your Thresholderbot</p>
            </div>
        </div>
    </body>
</html>
